.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
    font: 24px/24px sans-serif;
    box-sizing: border-box;
    /* width: 100%; */
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    color: black;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

button {
  /* 文字サイズを1.4emに指定 */
  font-size: 1.4em;

  /* 文字の太さをboldに指定 */
  font-weight: bold;

  /* 縦方向に10px、
   * 横方向に30pxの余白を指定 */
  padding: 10px 30px;

  /* 角丸の指定 */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  margin: 12px;
}

.container {
  margin-top: 300px;
}

label {
  /* 文字サイズを1.4emに指定 */
  font-size: 1.4em;

  /* 文字の太さをboldに指定 */
  font-weight: bold;

  /* 縦方向に10px、
   * 横方向に30pxの余白を指定 */
  padding: 13px 30px;

  /* 角丸の指定 */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  color: black;
  border: 1px solid #aaaaaa;
  font-weight: bold;
  cursor:pointer;
}

label:hover {
  background: rgb(207, 207, 207);
}

#selectFiles {
  display: none;
}

.wrapper {
    display: flex;
}

.column {
  height: 100vh;
  width: 100%;
}

.user1 {
  border: 14px solid;
  border-color: #6495ed;
}

.user2 {
  border: 14px solid;
  border-color: #3cb371;
}

.content {
    margin: 10%;
    background-color: #d3d3d3;
}